/* ======== Variables CSS ======== */
:root {
   --persian-blue: #4D2fc3;
   --white: #FFFFFF;
   --black: #000000;
   --black-60: rgba(0, 0, 0, 0.60);
   --grey: #D7D7D7;
}


header {
   position: static;
}

/* Page projets */
.projets {
   width: 100%;
   height: 85vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.projet__container {
   width: 80%;
   display: flex;
   background-color: var(--white);
   border-radius: 5px;
   overflow: hidden;
}

.projet__left-side,
.projet__right-side {
   width: 50%;
   height: 500px;
}

.img__container {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.projet__right-side {
   padding: 2.5rem 3rem;
   background-color: var(--white);
   display: flex;
   flex-direction: column;
}

.projet__name {
   font-size: 3rem;
   color: var(--persian-blue);
   margin-bottom: 1rem;
}

.projet__desc {
   font-size: 2.2rem;
   color: var(--black-60);
   letter-spacing: 0;
}

.projet__infos {
   margin: 1.5rem 0 2rem;
}

.infos__title {
   font-size: 2rem;
   color: var(--persian-blue);
   margin-bottom: 1rem;
}

.projet__tech {
   margin-bottom: 4rem;
}

i {
   color: var(--persian-blue);
   font-size: 5rem;
   margin-right: 1.5rem;
}

.projet__btn {
   /* display: block; */
   color: var(--white);
   font-weight: 700;
   font-size: 1.5rem;
   padding: 1.2rem 1.5rem;
   background-color: var(--persian-blue);
   border: 3px solid var(--persian-blue);
   border-radius: 5px;
   transition: all ease-in 0.2s;
}

.projet__btn:hover {
   color: var(--persian-blue);
   background-color: var(--white);
}